[submodule "third-party/gonas"]
	path = third-party/gonas
	url = git@github.com:saeejithnair/gonas.git
[submodule "third-party/tiny-cuda-nn"]
	path = third-party/tiny-cuda-nn
	url = https://github.com/nvlabs/tiny-cuda-nn
[submodule "third-party/mup"]
	path = third-party/mup
	url = git@github.com:saeejithnair/mup.git
[submodule "third-party/PiSSA"]
	path = third-party/PiSSA
	url = https://github.com/GraphPKU/PiSSA.git
